body {
  background-color: #d7eaea;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -1px;
}
hr {
  background-color: none;
  color: grey;
  height: 0px;
  width: 5%;
  border-style: none;
  border-style: dotted;
  border-width: 6px;
  border-top-width: 0px;
}
h1 {
  text-align: center;
  color: black;
  text-shadow: 15px 15px grey
}
h3 {
  text-align: left;
  color: #9692af;
}
